body {
  font-family: "Open Sans", sans-serif;
}

#game {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  border: 1px solid;
  background-image: url(https://c1.staticflickr.com/3/2633/4081217254_d2e7bf59f3.jpg);
  border-color: yellow;
}
